In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib as plt

In [2]:
tickers = ['PG', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

                    PG      BEI.DE
Date
2020-10-12  144.490005   98.919998
2020-10-13  144.210007   99.180000
2020-10-14  144.039993  100.250000
2020-10-15  143.830002   98.620003
2020-10-16  144.949997  100.250000

In [4]:
sec_returns = np.log(sec_data/ sec_data.shift(1))

In [5]:
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621  0.006544
2007-01-05 -0.008624 -0.020772
2007-01-08  0.002202  0.000202
2007-01-09 -0.002517 -0.022858
...              ...       ...
2020-10-12  0.010925  0.006491
2020-10-13 -0.001940  0.002625
2020-10-14 -0.001180  0.010731
2020-10-15 -0.001459 -0.016393
2020-10-16  0.007757  0.016393

[3473 rows x 2 columns]

In [7]:
PG_var = sec_returns['PG'].var()
PG_var

0.00014154453883976714

In [8]:
BEI_var = sec_returns['BEI.DE'].var()

In [11]:
BEI_var

0.00019079834174386037

In [12]:
PG_var_a = sec_returns['PG'].var() * 250
PG_var_a

0.035386134709941786

In [14]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.04769958543596509

In [15]:
#Cov method  (pandas.DataFrame.cov) computes pairwise covariance
#of columns.

In [16]:
cov_matrix = sec_returns.cov()
cov_matrix

              PG    BEI.DE
PG      0.000142  0.000045
BEI.DE  0.000045  0.000191

In [17]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              PG    BEI.DE
PG      0.035386  0.011165
BEI.DE  0.011165  0.047700

In [19]:
#Corr method (pandas_DataFrame.corr) computes pairwise correlation
#of columns

In [20]:
corr_matrix = sec_returns.corr()
corr_matrix

              PG    BEI.DE
PG      1.000000  0.271267
BEI.DE  0.271267  1.000000